extends ../layout.pug

block _BLOCK_TITLE_
	title 부디 행복하길 바래요!

block _BLOCK_LOCATION_
	<a href='/'>HOME</a> / <a href='#'>ACCOUNT MANAGEMENT</a>

block _BLOCK_CONTENT_
	h1 #{wusernm}님께!
	ul 
		li 저희와 함께할 기회를 가져주셔서 진심으로 감사합니다.
		li 언제나 행복하시길 빌께요.
		li 언젠가 기억날지도 모를 솔로지로부터.
