ul
	li(onclick="location.href='/';")
		a(href='/' title='홈으로') Home
	li(onclick="location.href='/sheet/';")
		a(href='/sheet/' title='Browser Live Grid') Browser Live Grid
	li(onclick="location.href='/board/';")
		a(href='/board/' title='게시판') Bulletin Board