extends ./layout.pug

block _BLOCK_TITLE_
	title SheetJS Test

block _BLOCK_CSS_
	link(rel='stylesheet' href='/js/vendor/jquery.handsontable.full.css' type='text/css' media='screen')
	link(rel='stylesheet' href='/js/vendor/alertify.css' type='text/css' media='screen')

block _BLOCK_SCRIPT_
	script(src="/js/vendor/alertify.js" type="text/javascript")
	script(src="/js/vendor/jquery.handsontable.full.js")

block _BLOCK_CONTENT_
	h1 Browser Live Grid 
	div#articlecontent
		div#drop.drophere DROP THE FILE HERE, OR <a onclick='showUploadFormWindow();' style='cursor:pointer;'>CLICK</a>.
	div#buttons
	div#sheet.handsontable
	div#section_bottom_button
		a.btn(onclick='savedata();') SAVE

	div(id='div_attach_file' style='position:absolute; top:50%; left:50%; width:200px; height:120px; margin:-60px 0 0 -100px; border:solid 2px #ccc; background-color:white; z-index:20; padding:10px; display:none;')
		div
			form(name='frmAddFile')
				input(type='file' name='uf' id='uf' style='width:180px')
		div(style='margin-top:20px;')
			a.btn(href='#dragandrophandler' onclick='hideUploadFormWindow();return false;' title='창닫기') 창닫기
	
	
block _BLOCK_SCRIPT_POST_
	script(src="/js/vendor/shim.js" type="text/javascript")
	script(src="/js/vendor/xlsx.full.min.js" type="text/javascript")
	script(src="/js/vendor/dropsheet.js" type="text/javascript")
	script(src="/js/vendor/spin.js" type="text/javascript")
	script(src="/js/sheet.js" type="text/javascript")
	script.
		$('#section_bottom_button').css('margin-top', '12px');
		$('#section_bottom_button').css('border-top', '0px');
		$('#section_bottom_button').hide();
